<!-- <div class="animated fadeIn"> -->
<!-- <div class="row justify-content-center" style="border: 1px solid blue;"> -->
<div class="row" style="position: relative; justify-content: space-around;">
  <!-- <div style="display: block; border: 1px solid black; width: 100%; height: 100%; position: relative;"> -->
  <my-card3 [device]="device" *ngFor="let device of innerDevice" style="position: relative;"></my-card3>
  <!-- <my-card3 [device]="device" *ngFor="let device of innerDevice" style="border: 1px solid red;"></my-card3> -->
</div>
<!-- </div> -->