<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 사용자 목록
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>등록일</th>
                <th>이름</th>
                <th>휴대폰 번호</th>
                <th>권한</th>
                <th>수정/삭제</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.update}}</td>
                <td>{{user.name}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.authority}}</td>
                <td>
                  <span class="badge badge-success" (click)="update(user.id)">수정</span>
                  <span class="badge badge-secondary" (click)="delete(user.id)">삭제</span>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link primary" (click)="prev()">Prev</a>
              </li>
              <li class="page-item" [class.active]="page == currentPage" *ngFor="let page of totalPage">
                <a class="page-link" (click)="loadData(page)">{{page}}</a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="next()">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>