<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 알람
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>알람 유형</th>
                <th>발생 시간</th>
                <th>태그</th>
                <th>내용</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alarm of currentPageAlarms">
                <td>
                  <span class="badge badge-danger">{{alarm.type}}</span>
                </td>
                <td>{{alarm.time}}</td>
                <td>{{alarm.tag}}</td>
                <td>{{alarm.description}}</td>
              </tr>
            </tbody>
          </table>
          <nav>
              <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link primary" (click)="prev()">Prev</a>
                  </li>
                  <li class="page-item" [class.active]="page == currentPage" *ngFor="let page of totalPage">
                    <a class="page-link" (click)="loadData(page)">{{page}}</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" (click)="next()">Next</a>
                  </li>
                </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>